*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, #5c0157, #0b8793);}

.container{
    text-align: center;
    margin-top: 150px;
}
h1{
    color: #ffd3fd;
    margin-bottom: 30px;
    font-size:300%;
}


#inputListeElemani{
    width: 400px;
    height: 35px;
    background-color: rgba(255, 0, 225, 0.115);
  margin-left: 0;
}
#ekle{
    margin-left: 0;
    height: 34px;
    width: 50px;
    background-color: #880b8260;
    color: azure;
}
#ara{
    margin-left: 0;
    height: 34px;
    width: 50px;
    background-color: #880b8260;
    color: azure;
}
#temizle{
    width: 70px;
    height: 34px;
    background-color: rgba(75, 6, 6, 0.714);
    color: azure;
}

.filter-todo{
    width: 170px;
    height: 34px;
    margin-top: 30px;
    background-color: #880b8260;
    color: azure;
}

.gorev-styling {
    display: flex; /* Flexbox kullanıyoruz */
    justify-content: space-between; /* Butonları görevin her iki tarafına yaymak için */
    align-items: center; /* Butonları dikey olarak ortalamak için */
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.check-btn
{
    margin: 0 ; /* Butonlar arasına küçük bir boşluk bırakıyoruz */
    cursor: pointer;
    background-color:green;
    color: azure;
}
 .delete-btn {
    margin: 0 ; /* Butonlar arasına küçük bir boşluk bırakıyoruz */
    cursor: pointer;
    background-color: red;
    color: azure;
}
.completed {/*tamamlanmış görevler için oluşturduğum sınıf*/
    text-decoration: line-through; /* Tamamlanan görevin üstünü çizer */
    color: gray; /* Tamamlanan görevi gri renkte göster */
}

.eklenenGorevler{
    margin-top: 3%;
  
}
.toDoList{
    margin-bottom:50px;
    background: linear-gradient(to right, #5c015865, #0b8793);
}